webServices/TestJavaWS/Web References/MapWS/context.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sld="http://www.opengis.net/sld" xmlns:context="http://www.opengis.net/context" elementFormDefault="qualified" targetNamespace="http://www.opengis.net/context" version="1.1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../../xlink/1.0.0/xlinks.xsd" namespace="http://www.w3.org/1999/xlink" />
  <xs:annotation>
    <xs:appinfo>context.xsd 2005-01-19</xs:appinfo>
    <xs:documentation>
      <xs:description xmlns:xs="http://www.w3.org/2001/XMLSchema">This XML Schema defines the encoding of a Web Map Context Document.  Primary editor: Tom Kralidis </xs:description>
      <xs:copyright xmlns:xs="http://www.w3.org/2001/XMLSchema">Copyright (c) Open Geospatial Consortium (2005)</xs:copyright>
    </xs:documentation>
  </xs:annotation>
  <xs:element name="ViewContext" type="context:ViewContextType" />
  <xs:complexType name="ViewContextType">
    <xs:sequence>
      <xs:element name="General" type="context:GeneralType" />
      <xs:element name="LayerList" type="context:LayerListType" />
    </xs:sequence>
    <xs:attribute fixed="1.1.0" name="version" type="xs:string" use="required" />
    <xs:attribute name="id" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="GeneralType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Window" type="context:WindowType" />
      <xs:element name="BoundingBox" type="context:BoundingBoxType" />
      <xs:element name="Title" type="xs:string" />
      <xs:element minOccurs="0" name="KeywordList" type="context:KeywordListType" />
      <xs:element minOccurs="0" name="Abstract" type="xs:string" />
      <xs:element minOccurs="0" name="LogoURL" type="context:URLType" />
      <xs:element minOccurs="0" name="DescriptionURL" type="context:URLType" />
      <xs:element minOccurs="0" name="ContactInformation" type="context:ContactInformationType" />
      <xs:element minOccurs="0" name="Extension" type="context:ExtensionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WindowType">
    <xs:attribute name="width" type="xs:integer" use="required" />
    <xs:attribute name="height" type="xs:integer" use="required" />
  </xs:complexType>
  <xs:complexType name="BoundingBoxType">
    <xs:attribute name="SRS" type="xs:string" use="required" />
    <xs:attribute name="minx" type="xs:decimal" use="required" />
    <xs:attribute name="miny" type="xs:decimal" use="required" />
    <xs:attribute name="maxx" type="xs:decimal" use="required" />
    <xs:attribute name="maxy" type="xs:decimal" use="required" />
  </xs:complexType>
  <xs:complexType name="KeywordListType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Keyword" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="URLType">
    <xs:sequence>
      <xs:element name="OnlineResource" type="context:OnlineResourceType" />
    </xs:sequence>
    <xs:attribute name="width" type="xs:integer" use="optional" />
    <xs:attribute name="height" type="xs:integer" use="optional" />
    <xs:attribute name="format" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name="ContactInformationType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactPersonPrimary" type="context:ContactPersonPrimaryType" />
      <xs:element minOccurs="0" name="ContactPosition" type="xs:string" />
      <xs:element minOccurs="0" name="ContactAddress" type="context:AddressType" />
      <xs:element minOccurs="0" name="ContactVoiceTelephone" type="xs:string" />
      <xs:element minOccurs="0" name="ContactFacsimileTelephone" type="xs:string" />
      <xs:element minOccurs="0" name="ContactElectronicMailAddress" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactPersonPrimaryType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactPerson" type="xs:string" />
      <xs:element minOccurs="0" name="ContactOrganization" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressType" type="xs:string" />
      <xs:element minOccurs="0" name="Address" type="xs:string" />
      <xs:element minOccurs="0" name="City" type="xs:string" />
      <xs:element minOccurs="0" name="StateOrProvince" type="xs:string" />
      <xs:element minOccurs="0" name="PostCode" type="xs:string" />
      <xs:element minOccurs="0" name="Country" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LayerListType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Layer" type="context:LayerType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LayerType">
    <xs:sequence>
      <xs:element name="Server" type="context:ServerType" />
      <xs:element name="Name" type="xs:string" />
      <xs:element name="Title" type="xs:string" />
      <xs:element minOccurs="0" name="Abstract" type="xs:string" />
      <xs:element minOccurs="0" name="DataURL" type="context:URLType" />
      <xs:element minOccurs="0" name="MetadataURL" type="context:URLType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SRS" type="xs:string" />
      <xs:element minOccurs="0" name="FormatList" type="context:FormatListType" />
      <xs:element minOccurs="0" name="StyleList" type="context:StyleListType" />
      <xs:element minOccurs="0" name="DimensionList" type="context:DimensionListType" />
      <xs:element minOccurs="0" name="Extension" type="context:ExtensionType" />
    </xs:sequence>
    <xs:attribute name="queryable" type="xs:boolean" use="required" />
    <xs:attribute name="hidden" type="xs:boolean" use="required" />
  </xs:complexType>
  <xs:complexType name="ServerType">
    <xs:sequence>
      <xs:element name="OnlineResource" type="context:OnlineResourceType" />
    </xs:sequence>
    <xs:attribute name="service" type="context:serviceType" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
    <xs:attribute name="title" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:simpleType name="serviceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OGC:WMS" />
      <xs:enumeration value="OGC:WFS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FormatListType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Format" type="context:FormatType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormatType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="current" type="xs:boolean" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="StyleListType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Style" type="context:StyleType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StyleType">
    <xs:choice>
      <xs:sequence>
        <xs:element name="Name" type="xs:string" />
        <xs:element name="Title" type="xs:string" />
        <xs:element minOccurs="0" name="Abstract" type="xs:string" />
        <xs:element minOccurs="0" name="LegendURL" type="context:URLType" />
      </xs:sequence>
      <xs:element minOccurs="0" name="SLD" type="context:SLDType" />
    </xs:choice>
    <xs:attribute name="current" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="SLDType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" type="xs:string" />
      <xs:element minOccurs="0" name="Title" type="xs:string" />
      <xs:element minOccurs="0" name="LegendURL" type="context:URLType" />
      <xs:choice>
        <xs:element name="OnlineResource" type="context:OnlineResourceType" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DimensionListType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Dimension" type="context:DimensionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DimensionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="units" type="xs:string" use="required" />
        <xs:attribute name="unitSymbol" type="xs:string" use="required" />
        <xs:attribute name="userValue" type="xs:string" use="required" />
        <xs:attribute name="default" type="xs:string" />
        <xs:attribute name="multipleValues" type="xs:boolean" />
        <xs:attribute name="nearestValue" type="xs:boolean" />
        <xs:attribute name="current" type="xs:boolean" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="OnlineResourceType">
    <xs:attributeGroup ref="xlink:simpleLink" />
  </xs:complexType>
  <xs:complexType name="ExtensionType">
    <xs:annotation>
      <xs:documentation>This allows additional elements to be added to support non WMS Layer services.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any namespace="##any" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>