UICDS-Services/UICDS-Services/Web References/ResourceInstanceService/WS-ResourceLifetime-1_2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:wsrf-rl="http://docs.oasis-open.org/wsrf/rl-2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsrf-bf="http://docs.oasis-open.org/wsrf/bf-2" xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wsrf/rl-2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="WS-BaseFaults-1_2.xsd" namespace="http://docs.oasis-open.org/wsrf/bf-2" />
  <xsd:element name="CurrentTime">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:dateTime">
          <xsd:anyAttribute namespace="##other" processContents="lax" />
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TerminationTime" nillable="true">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:dateTime">
          <xsd:anyAttribute namespace="##other" processContents="lax" />
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ScheduledResourceTerminationRP">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" ref="wsrf-rl:CurrentTime" />
        <xsd:element minOccurs="1" maxOccurs="1" ref="wsrf-rl:TerminationTime" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Destroy">
    <xsd:complexType />
  </xsd:element>
  <xsd:element name="DestroyResponse">
    <xsd:complexType />
  </xsd:element>
  <xsd:complexType name="ResourceNotDestroyedFaultType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="wsrf-bf:BaseFaultType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ResourceNotDestroyedFault" type="wsrf-rl:ResourceNotDestroyedFaultType" />
  <xsd:element name="SetTerminationTime">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="RequestedTerminationTime" nillable="true" type="xsd:dateTime" />
        <xsd:element name="RequestedLifetimeDuration" type="xsd:duration" />
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetTerminationTimeResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="NewTerminationTime" nillable="true" type="xsd:dateTime" />
        <xsd:element name="CurrentTime" type="xsd:dateTime" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="UnableToSetTerminationTimeFaultType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="wsrf-bf:BaseFaultType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="UnableToSetTerminationTimeFault" type="wsrf-rl:UnableToSetTerminationTimeFaultType" />
  <xsd:complexType name="TerminationTimeChangeRejectedFaultType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="wsrf-bf:BaseFaultType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TerminationTimeChangeRejectedFault" type="wsrf-rl:TerminationTimeChangeRejectedFaultType" />
  <xsd:element name="TerminationNotification">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="TerminationTime" nillable="true" type="xsd:dateTime" />
        <xsd:element minOccurs="0" maxOccurs="1" name="TerminationReason" type="xsd:anyType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>