webServices/TestJavaWS/Web References/DirectoryWS/AlertService.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:wp="http://uicds.org/WorkProductService" xmlns:as="http://uicds.org/AlertService" xmlns:sl="http://uicds.org/StringList" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:cap="urn:oasis:names:tc:emergency:cap:1.1" xmlns:preciss="http://www.saic.com/precis/2009/06/structures" xmlns:de="urn:oasis:names:tc:emergency:EDXL:DE:1.0" elementFormDefault="qualified" targetNamespace="http://uicds.org/AlertService" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../../../services/WorkProduct/0.1/WorkProductService.xsd" namespace="http://uicds.org/WorkProductService" />
  <import schemaLocation="../../../external/niem/structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0" />
  <import schemaLocation="../../../external/niem/external/cap/1.1/cap.xsd" namespace="urn:oasis:names:tc:emergency:cap:1.1" />
  <import schemaLocation="../../../external/niem/external/de/1.0/de.xsd" namespace="urn:oasis:names:tc:emergency:EDXL:DE:1.0" />
  <import schemaLocation="../../../precis/2009/06/Structures.xsd" namespace="http://www.saic.com/precis/2009/06/structures" />
  <element name="CreateAlertRequest">
    <complexType>
      <all>
        <element name="incidentId" type="string" />
        <element name="Alert" type="as:UICDSAlertAdapterType" />
      </all>
    </complexType>
  </element>
  <element name="CreateAlertResponse">
    <complexType>
      <sequence>
        <element ref="wp:WorkProductPublicationResponse" />
      </sequence>
    </complexType>
  </element>
  <element name="GetAlertRequest">
    <complexType>
      <all>
        <element ref="preciss:WorkProductIdentification" />
      </all>
    </complexType>
  </element>
  <element name="GetAlertResponse">
    <complexType>
      <sequence>
        <element ref="preciss:WorkProduct" />
      </sequence>
    </complexType>
  </element>
  <element name="GetAlertByAlertIdRequest">
    <complexType>
      <all>
        <element name="AlertID" type="string" />
      </all>
    </complexType>
  </element>
  <element name="GetAlertByAlertIdResponse">
    <complexType>
      <sequence>
        <element ref="preciss:WorkProduct" />
      </sequence>
    </complexType>
  </element>
  <element name="CancelAlertRequest">
    <complexType>
      <all>
        <element ref="preciss:WorkProductIdentification" />
      </all>
    </complexType>
  </element>
  <element name="CancelAlertResponse">
    <complexType>
      <sequence>
        <element ref="wp:WorkProductPublicationResponse" />
      </sequence>
    </complexType>
  </element>
  <element name="GetListOfAlertsRequest">
    <complexType>
      <all>
        <element name="incidentId" type="string" />
      </all>
    </complexType>
  </element>
  <element name="GetListOfAlertsResponse">
    <complexType>
      <sequence>
        <element ref="wp:WorkProductSummaryList" />
      </sequence>
    </complexType>
  </element>
  <complexType name="UICDSAlertAdapterType">
    <complexContent mixed="false">
      <extension base="s:ComplexObjectType">
        <sequence>
          <element ref="cap:alert" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>