webServices/TestJavaWS/Web References/DirectoryWS/DirectoryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:etc="http://uicds.org/ExternalToolConfig" xmlns:cc="http://uicds.org/CoreConfig" xmlns:ims="http://uicds.org/IncidentManagementService" xmlns:iil="http://uicds.org/IncidentIdList" xmlns:sc="http://uicds.org/ServiceConfig" xmlns:uc="http://uicds.org/UserConfig" xmlns:edsc="http://uicds.org/ExternalDataSourceConfig" xmlns:sos="http://uicds.org/SOSConfig" xmlns:dir="http://uicds.org/DirectoryService" elementFormDefault="qualified" targetNamespace="http://uicds.org/DirectoryService" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../../../services/Directory/0.1/SOSConfig.xsd" namespace="http://uicds.org/SOSConfig" />
  <import schemaLocation="../../../services/Directory/0.1/ExternalDataSourceConfig.xsd" namespace="http://uicds.org/ExternalDataSourceConfig" />
  <import schemaLocation="../../../services/Directory/0.1/IncidentIdList.xsd" namespace="http://uicds.org/IncidentIdList" />
  <import schemaLocation="../../../services/Directory/0.1/ServiceConfig.xsd" namespace="http://uicds.org/ServiceConfig" />
  <import schemaLocation="../../../services/Directory/0.1/UserConfig.xsd" namespace="http://uicds.org/UserConfig" />
  <import schemaLocation="../../../services/Directory/0.1/CoreConfig.xsd" namespace="http://uicds.org/CoreConfig" />
  <import schemaLocation="../../../services/Directory/0.1/ExternalToolConfig.xsd" namespace="http://uicds.org/ExternalToolConfig" />
  <import schemaLocation="../../../services/IncidentManagement/0.1/IncidentManagementService.xsd" namespace="http://uicds.org/IncidentManagementService" />
  <complexType name="RegisterExternalToolRequestType">
    <sequence>
      <element name="ExternalTool" type="etc:ExternalToolConfigType" />
    </sequence>
  </complexType>
  <element name="RegisterExternalToolRequest" type="dir:RegisterExternalToolRequestType" />
  <complexType name="UnregisterExternalToolRequestType">
    <sequence>
      <element name="URN" type="string" />
    </sequence>
  </complexType>
  <element name="UnregisterExternalToolRequest" type="dir:UnregisterExternalToolRequestType" />
  <complexType name="RegisterExternalDataSourceRequestType">
    <sequence>
      <element name="URN" type="string" />
    </sequence>
  </complexType>
  <element name="RegisterExternalDataSourceRequest" type="dir:RegisterExternalDataSourceRequestType" />
  <complexType name="UnregisterExternalDataSourceRequestType">
    <sequence>
      <element name="URN" type="string" />
    </sequence>
  </complexType>
  <element name="UnregisterExternalDataSourceRequest" type="dir:UnregisterExternalDataSourceRequestType" />
  <complexType name="RegisterUICDSServiceRequestType">
    <sequence>
      <element name="Service" type="sc:ServiceConfigType" />
    </sequence>
  </complexType>
  <element name="RegisterUICDSServiceRequest" type="dir:RegisterUICDSServiceRequestType" />
  <complexType name="UnregisterUICDSServiceRequestType">
    <sequence>
      <element name="serviceName" type="string" />
    </sequence>
  </complexType>
  <element name="UnregisterUICDSServiceRequest" type="dir:UnregisterUICDSServiceRequestType" />
  <complexType name="RegisterSOSRequestType">
    <sequence>
      <element name="sos" type="sos:SOSConfigType" />
    </sequence>
  </complexType>
  <element name="RegisterSOSRequest" type="dir:RegisterSOSRequestType" />
  <complexType name="UnregisterSOSRequestType">
    <sequence>
      <element name="sosID" type="string" />
    </sequence>
  </complexType>
  <element name="UnregisterSOSRequest" type="dir:UnregisterSOSRequestType" />
  <complexType name="GetCoreListRequestType" />
  <element name="GetCoreListRequest" type="dir:GetCoreListRequestType" />
  <complexType name="GetCoreListResponseType">
    <sequence>
      <element name="coreList" type="cc:CoreConfigListType" />
    </sequence>
  </complexType>
  <element name="GetCoreListResponse" type="dir:GetCoreListResponseType" />
  <complexType name="GetExternalToolListRequestType">
    <sequence>
      <element name="coreName" type="string" />
    </sequence>
  </complexType>
  <element name="GetExternalToolListRequest" type="dir:GetExternalToolListRequestType" />
  <complexType name="GetExternalToolListResponseType">
    <sequence>
      <element name="externalToolList" type="etc:ExternalToolConfigListType" />
    </sequence>
  </complexType>
  <element name="GetExternalToolListResponse" type="dir:GetExternalToolListResponseType" />
  <complexType name="GetIncidentListRequestType" />
  <element name="GetIncidentListRequest" type="dir:GetIncidentListRequestType" />
  <complexType name="GetIncidentListResponseType">
    <sequence>
      <element name="incidentInfoList" type="dir:IncidentInfoListType" />
    </sequence>
  </complexType>
  <element name="GetIncidentListResponse" type="dir:GetIncidentListResponseType" />
  <complexType name="GetServicetListRequestType">
    <sequence>
      <element name="coreName" type="string" />
    </sequence>
  </complexType>
  <element name="GetServiceListRequest" type="dir:GetServicetListRequestType" />
  <complexType name="GettServiceListResponseType">
    <sequence>
      <element name="serviceList" type="sc:ServiceConfigListType" />
    </sequence>
  </complexType>
  <element name="GetServiceListResponse" type="dir:GettServiceListResponseType" />
  <complexType name="GetUserListRequestType">
    <sequence>
      <element name="coreName" type="string" />
    </sequence>
  </complexType>
  <element name="GetUserListRequest" type="dir:GetUserListRequestType" />
  <complexType name="GetUserListResponseType">
    <sequence>
      <element name="userList" type="uc:UserConfigListType" />
    </sequence>
  </complexType>
  <element name="GetUserListResponse" type="dir:GetUserListResponseType" />
  <complexType name="GetSOSListRequestType" />
  <element name="GetSOSListRequest" type="dir:GetSOSListRequestType" />
  <complexType name="GetSOSListResponseType">
    <sequence>
      <element name="sosList" type="sos:SOSConfigListType" />
    </sequence>
  </complexType>
  <element name="GetSOSListResponse" type="dir:GetSOSListResponseType" />
  <complexType name="GetExternalDataSourceListRequestType">
    <sequence>
      <element name="coreName" type="string" />
    </sequence>
  </complexType>
  <element name="GetExternalDataSourceListRequest" type="dir:GetExternalDataSourceListRequestType" />
  <complexType name="GetExternalDataSourceListResponseType">
    <sequence>
      <element name="externalDataSourceList" type="edsc:ExternalDataSourceConfigListType" />
    </sequence>
  </complexType>
  <element name="GetExternalDataSourceListResponse" type="dir:GetExternalDataSourceListResponseType" />
  <complexType name="IncidentInfoListType">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="incidentInfo" type="ims:IncidentInfoType" />
    </sequence>
  </complexType>
  <complexType name="WorkProductTypeListType">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="productType" type="string" />
    </sequence>
  </complexType>
</schema>