webServices/TestJavaWS/Web References/DirectoryWS/ExternalToolConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:etc="http://uicds.org/ExternalToolConfig" xmlns:dsd="http://uicds.org/DirectoryServiceData" elementFormDefault="qualified" targetNamespace="http://uicds.org/ExternalToolConfig" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../../../services/Directory/0.1/DirectoryServiceData.xsd" namespace="http://uicds.org/DirectoryServiceData" />
  <simpleType name="ExternalToolStatusType">
    <restriction base="string">
      <enumeration value="Available" />
      <enumeration value="Unavailable" />
      <enumeration value="Other" />
    </restriction>
  </simpleType>
  <simpleType name="ExternalToolType">
    <restriction base="string">
      <enumeration value="Process" />
      <enumeration value="Script" />
      <enumeration value="Data Source" />
      <enumeration value="Other" />
    </restriction>
  </simpleType>
  <complexType name="ExternalToolConfigType">
    <sequence>
      <element name="URN" type="string">
        <annotation>
          <documentation>Endpoint for ExternalTool.</documentation>
        </annotation>
      </element>
      <element name="toolName" type="string" />
      <element name="coreName" type="string" />
      <element name="publishedProducts" type="dsd:WorkProductTypeListType" />
      <element name="subscribedProducts" type="dsd:WorkProductTypeListType" />
    </sequence>
  </complexType>
  <element name="ExternalToolConfig" type="etc:ExternalToolConfigType" />
  <element name="ExternalToolList" type="etc:ExternalToolConfigListType">
    <annotation>
      <documentation>Configuration object for a UICDS ExternalTool.</documentation>
    </annotation>
  </element>
  <complexType name="ExternalToolConfigListType">
    <sequence>
      <element maxOccurs="unbounded" name="ExternalTool" type="etc:ExternalToolConfigType" />
    </sequence>
  </complexType>
</schema>