webServices/TestJavaWS/Web References/DirectoryWS/IC-ISM-v2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="urn:us:gov:ic:ism:v2" elementFormDefault="qualified" targetNamespace="urn:us:gov:ic:ism:v2" xml:lang="en" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>
			W3C XML Schema for the Intelligence Community Metadata Standard for Information Security Marking (IC-ISM), which is part of the Implementation profile for Information Security Markings (XML Encoding).
		</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType name="ClassificationType">
    <xsd:annotation>
      <xsd:documentation>This simple type is used by the classificatin attribute to identify the highest level of classification of the information being encoded. It is manifested in portion marks and security banners.

PERMISSIBLE VALUES

The permissible values for this simple type are defined in the Implementation Profile Supplement: Value Enumerations in the value sets:

US Classification Markings – Authorized Portion Markings
NATO Classification Markings – Authorized Portion Markings

			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="U">
        <xsd:annotation>
          <xsd:documentation>
						US, non-US or joint UNCLASSIFIED.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="C" />
      <xsd:enumeration value="S" />
      <xsd:enumeration value="TS" />
      <xsd:enumeration value="R" />
      <xsd:enumeration value="CTS" />
      <xsd:enumeration value="CTS-B" />
      <xsd:enumeration value="CTS-BALK" />
      <xsd:enumeration value="NU" />
      <xsd:enumeration value="NR" />
      <xsd:enumeration value="NC" />
      <xsd:enumeration value="NS" />
      <xsd:enumeration value="NS-S" />
      <xsd:enumeration value="NS-A" />
      <xsd:enumeration value="CTSA" />
      <xsd:enumeration value="NSAT" />
      <xsd:enumeration value="NCA" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:attributeGroup name="SecurityAttributesGroup">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The group of Information Security Marking attributes in which the use of attributes 'classification' and 'ownerProducer' is required. 

This group is to be contrasted with group 'SecurityAttributesOptionGroup' in which use of those attributes is optional.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ref="classification" use="required" />
    <xsd:attribute ref="ownerProducer" use="required" />
    <xsd:attribute ref="SCIcontrols" use="optional" />
    <xsd:attribute ref="SARIdentifier" use="optional" />
    <xsd:attribute ref="disseminationControls" use="optional" />
    <xsd:attribute ref="FGIsourceOpen" use="optional" />
    <xsd:attribute ref="FGIsourceProtected" use="optional" />
    <xsd:attribute ref="releasableTo" use="optional" />
    <xsd:attribute ref="nonICmarkings" use="optional" />
    <xsd:attribute ref="classifiedBy" use="optional" />
    <xsd:attribute ref="derivativelyClassifiedBy" use="optional" />
    <xsd:attribute ref="classificationReason" use="optional" />
    <xsd:attribute ref="derivedFrom" use="optional" />
    <xsd:attribute ref="declassDate" use="optional" />
    <xsd:attribute ref="declassEvent" use="optional" />
    <xsd:attribute ref="declassException" use="optional" />
    <xsd:attribute ref="typeOfExemptedSource" use="optional" />
    <xsd:attribute ref="dateOfExemptedSource" use="optional" />
    <xsd:attribute ref="declassManualReview" use="optional" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="SecurityAttributesOptionGroup">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The group of Information Security Marking attributes in which the use of attributes 'classification' and 'ownerProducer' is optional. 

This group is to be contrasted with group 'SecurityAttributesGroup' in which use of these attributes is required.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ref="classification" use="optional" />
    <xsd:attribute ref="ownerProducer" use="optional" />
    <xsd:attribute ref="SCIcontrols" use="optional" />
    <xsd:attribute ref="SARIdentifier" use="optional" />
    <xsd:attribute ref="disseminationControls" use="optional" />
    <xsd:attribute ref="FGIsourceOpen" use="optional" />
    <xsd:attribute ref="FGIsourceProtected" use="optional" />
    <xsd:attribute ref="releasableTo" use="optional" />
    <xsd:attribute ref="nonICmarkings" use="optional" />
    <xsd:attribute ref="classifiedBy" use="optional" />
    <xsd:attribute ref="derivativelyClassifiedBy" use="optional" />
    <xsd:attribute ref="classificationReason" use="optional" />
    <xsd:attribute ref="derivedFrom" use="optional" />
    <xsd:attribute ref="declassDate" use="optional" />
    <xsd:attribute ref="declassEvent" use="optional" />
    <xsd:attribute ref="declassException" use="optional" />
    <xsd:attribute ref="typeOfExemptedSource" use="optional" />
    <xsd:attribute ref="dateOfExemptedSource" use="optional" />
    <xsd:attribute ref="declassManualReview" use="optional" />
  </xsd:attributeGroup>
  <xsd:attribute name="classification" type="ClassificationType">
    <xsd:annotation>
      <xsd:documentation>This attribute is used at both the resource and the portion levels to identify the highest level of classification of the information. It is manifested in portion marks and security banners.
	
This data element is always used in conjunction with the "ownerProducer" data element. Taken together, the two elements specify the classification category and the type of classification (US, non-US, or joint).

PERMISSIBLE VALUES

The permissible values for this attribute are defined in the Implementation Profile Supplement: Value Enumerations in the value set: 

US Classification Markings – Authorized Portion Markings
NATO Classification Markings – Authorized Portion Markings

      </xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="ownerProducer">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used at both the resource and the portion levels to identify the national government or international organization owner(s) and/or producer(s) of the information. The attribute value may be manifested in portion marks or security banners.

This data element is always used in conjunction with the “classification” data element. Taken together, the two elements specify the classification category and the type of classification (US, non-US, or joint).

The value of this data element may potentially indicate the non-disclosable owner(s) and/or producer(s) of information categorized as foreign government information according to CAPCO guidelines for which the source(s) of the information must be concealed when the resource is disseminated to shared spaces. This situation is acceptable within protected internal organizational spaces. However, when this situation exists, additional measures must be taken prior to dissemination of the resource to shared spaces so that the non-disclosable owner(s) and/or producer(s) of information within the resource will be concealed. Under these specific circumstances, within shared spaces, this data element’s value should be “FGI”.

PERMISSIBLE VALUES

1) The value "FGI" is permited under the circumstances described above.

2) Other permissible values for this attribute are defined in the Implementation Profile Supplement: Value Enumerations in the value sets:

ISO 3166-1 Country Trigraphs Codes
Registered International Organizations and Alliances Tetragraphs
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKENS" />
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="SCIcontrols">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used at both the resource and the portion levels to identify classified information concerning or derived from intelligence sources, methods, or analytical processes which is required to be handled within formal control systems established by the DCI (in accordance with DCID 1/19, Section 1.1). It is manifested in portion marks and security banners.				
				
For the “SI-ECI-XXX” permissible value, “XXX” is a placeholder for ECI program designator alphabetic trigraphs, which are classified and are therefore not included here.
Additional classified and unpublished SCI control system abbreviations are not included here.

PERMISSIBLE VALUES

The permissible values for this attribute are defined in the Implementation Profile Supplement: Value Enumerations in the value set:

SCI Control System Markings – Authorized Portion Markings
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKENS" />
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="SARIdentifier">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used at both the resource and the portion levels to identify Special Access Required program identifier(s). It is manifested in portion marks and security banners.

PERMISSIBLE VALUES

The permissible values for this attribute are defined in the Implementation Profile Supplement: Value Enumerations in the value set:

Special Access Program Markings – Authorized Portion Markings
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKENS" />
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="disseminationControls">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used at both the resource and the portion levels to identify the expansion or limitation on the DISTRIBUTION of the information. It is manifested in portion marks and security banners.

PERMISSIBLE VALUES

The permissible values for this attribute are defined in the Implementation Profile Supplement: Value Enumerations in the value set:

Dissemination Control Markings – Authorized Portion Markings

</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKENS" />
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="FGIsourceOpen">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used at both the resource and the portion levels within US CONTROLLED resources or US/non-US jointly CONTROLLED resources. The attribute is used to identify the known and disclosable originating source (country or registered international organization) or sources of information of non-US origin, or to indicate that the source of information of non-US origin is unknown. It is manifested in portion marks and security banners.

PERMISSIBLE VALUES

1) The value "UNKNOWN" is permited under the circumstances described above.

2) Other permissible values for this attribute are defined in the Implementation Profile Supplement: Value Enumerations in the value sets:

ISO 3166-1 Country Trigraph Codes
Registered International Organizations and Alliances Tetragraphs
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKENS" />
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="FGIsourceProtected">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used at both the resource and the portion levels within US CONTROLLED resources or US/non-US jointly CONTROLLED resources. This attribute has unique specific rules concerning its usage. 

An indication that information qualifies as foreign government information according to CAPCO guidelines for which the source(s) of the information must be concealed when the information is disseminated in shared spaces

This data element has a dual purpose. Within shared spaces, the data element serves only to indicate the presence of information which is categorized as foreign government information according to CAPCO guidelines for which the source(s) of the information is concealed. Within shared spaces, this data element’s value will always be “FGI”. The data element may also be employed in this manner within protected internal organizational spaces. However, within protected internal organizational spaces this data element may alternatively be used to maintain a formal record of the foreign country or countries and/or registered international organization(s) that are the non-disclosable owner(s) and/or producer(s) of information which is categorized as foreign government information according to CAPCO guidelines for which the source(s) of the information must be concealed when the resource is disseminated to shared spaces. If the data element is employed in this manner, then additional measures must be taken prior to dissemination of the resource to ICSIS shared spaces so that any indications of the non-disclosable owner(s) and/or producer(s) of information within the resource are eliminated.

In all cases, the corresponding portion marking or banner marking should be compliant with CAPCO guidelines for FGI when the source must be concealed. In other words, even if the data element is being employed within protected internal organizational spaces to maintain a formal record of the non-disclosable owner(s) and/or producer(s) within an XML resource, if the resource is rendered for display within the protected internal organizational spaces in any format by a stylesheet or as a result of any other transformation process, then the non-disclosable owner(s) and/or producer(s) should not be included in the corresponding portion marking or banner marking.

PERMISSIBLE VALUES

1) The value "FGI" is permited under the circumstances described above.

2) Other permissible values for this attribute are defined in the Implementation Profile Supplement: Value Enumerations in the value sets:

ISO 3166-1 Country Trigraph Codes
Registered International Organizations and Alliances Tetragraphs
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKENS" />
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="releasableTo">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used at both the resource and the portion levels to identify the country or countries and/or international organization(s) to which classified information may be released based on the determination of an originator in accordance with established foreign disclosure procedures. It is manifested in portion marks and security banners.

PERMISSIBLE VALUES

The permissible values for this attribute are defined in the Implementation Profile Supplement: Value Enumerations in the value sets:

ISO 3166-1 Country Trigraph Codes
Registered International Organizations and Alliances Tetragraphs
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKENS" />
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="nonICmarkings">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used at both the resource and the portion levels to identify classified information originating from non-intel components of the US Department of Defense or the US Department of Energy. It is manifested in portion marks and security banners.

LAW ENFORCEMENT SENSITIVE (LES) is not an authorized IC classification and control marking in the CAPCO Register. However, CAPCO has published interim marking guidance concerning the incorporation of LES information into IC products. “LES” has been included as a permissible value for attribute “nonICmarkings” in IC ISM in order to facilitate compliance with the CAPCO interim marking guidance in XML-based products.

PERMISSIBLE VALUES

The permissible values for this attribute are defined in the Implementation Profile Supplement: Value Enumerations in the value set:

Non-IC Markings – Authorized Portion Markings
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKENS" />
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="classifiedBy">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used primarily at the resource level to specify the identity, by name or personal identifier, and position title of the original classification authority for a resource. It is manifested only in the 'Classified By' line of a resource’s Classification/Declassification block.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string" />
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="derivativelyClassifiedBy">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used primarily at the resource level to specify the identity, by name or personal identifier, and position title of the derivitive classifier for a resource. It is manifested only in the 'Classified By' line of a resource’s Classification/Declassification block.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string" />
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="classificationReason">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used primarily at the resource level to specify the basis for an original classification decision. It is manifested only in the 'Reason' line of a resource’s Classification/Declassification block.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string" />
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="derivedFrom">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used primarily at the resource level as a citation of the authoritative source of the classification markings used in a resource. It is manifested only in the 'Derived From' line of a document's classification/declassification block.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string" />
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="declassDate">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used primarily at the resource level to specify a year, month and day for declassification, upon the occurrence of which the information shall be automatically declassified. It is manifested in the declassification date field of a resource’s security banners and in the 'Declassify On' line of a resource's classification/declassification block.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:date" />
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="declassEvent">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used primarily at the resource level to specify a description of an event for declassification, upon the occurrence of which the information shall be automatically declassified. It is manifested only in the 'Declassify On' line of a resource’s classification/declassification block.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string" />
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="declassException">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used primarily at the resource level to specify one or more exceptions to the nominal 25-year point for automatic declassification. It is manifested in the declassification date field of a resource’s security banners and in the 'Declassify On' line of a resource’s classification/declassification block.

PERMISSIBLE VALUES

The permissible values for this attribute are defined in the Implementation Profile Supplement: Value Enumerations in the value set:

Exemption from 25-Year Automatic Declassification Markings

			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKENS" />
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="typeOfExemptedSource">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used primarily at the product level to specify a marking of a source document that causes the current document to be exempted from automatic declassification. It is manifested only in the 'Declassify On' line of a document's classification/declassification block.

PERMISSIBLE VALUES

The permissible values for this attribute are defined in the Implementation Profile Supplement: Value Enumerations in the value set:

Source Document Declassification Instruction Markings

			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKENS" />
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="dateOfExemptedSource">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used primarily at the resource level to specify the year, month and day of publication or release of a source document, or the most recent source document, that was itself marked with an exeption from automatic declassification. It is manifested only in the 'Declassify On' line of a resource’s Classification/Declassification block.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:date" />
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="declassManualReview">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used primarily at the resource level as an indication of the need for manual review for declassification of the information, over and above the usual programmatic determinations.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean" />
    </xsd:simpleType>
  </xsd:attribute>
</xsd:schema>