webServices/TestJavaWS/Web References/DirectoryWS/ServiceConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:sc="http://uicds.org/ServiceConfig" xmlns:dsd="http://uicds.org/DirectoryServiceData" elementFormDefault="qualified" targetNamespace="http://uicds.org/ServiceConfig" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../../../services/Directory/0.1/DirectoryServiceData.xsd" namespace="http://uicds.org/DirectoryServiceData" />
  <complexType name="ServiceConfigType">
    <sequence>
      <element name="URN" type="string" />
      <element name="serviceName" type="string" />
      <element name="coreName" type="string" />
      <element name="publishedProducts" type="dsd:WorkProductTypeListType" />
      <element name="subscribedProducts" type="dsd:WorkProductTypeListType" />
    </sequence>
  </complexType>
  <element name="ServiceConfig" type="sc:ServiceConfigType" />
  <complexType name="ServiceConfigListType">
    <sequence>
      <element maxOccurs="unbounded" name="Service" type="sc:ServiceConfigType" />
    </sequence>
  </complexType>
  <element name="ServiceConfigList" type="sc:ServiceConfigListType" />
</schema>