webServices/TestJavaWS/Web References/DirectoryWS/WorkProductService.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:wp="http://uicds.org/WorkProductService" xmlns:preciss="http://www.saic.com/precis/2009/06/structures" xmlns:precisb="http://www.saic.com/precis/2009/06/base" elementFormDefault="unqualified" targetNamespace="http://uicds.org/WorkProductService" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../../../precis/2009/06/Structures.xsd" namespace="http://www.saic.com/precis/2009/06/structures" />
  <import schemaLocation="../../../precis/2009/06/BaseTypes.xsd" namespace="http://www.saic.com/precis/2009/06/base" />
  <complexType name="WorkProductPublicationResponseType">
    <sequence>
      <element ref="preciss:WorkProductProcessingStatus" />
      <element minOccurs="0" ref="preciss:WorkProductSummary" />
    </sequence>
  </complexType>
  <element name="GetProductRequest">
    <complexType>
      <sequence>
        <element ref="preciss:WorkProductIdentification" />
      </sequence>
    </complexType>
  </element>
  <element name="GetProductResponse">
    <complexType>
      <sequence>
        <element ref="preciss:WorkProduct" />
      </sequence>
    </complexType>
  </element>
  <element name="PublishProductRequest">
    <complexType>
      <sequence>
        <element ref="preciss:WorkProduct" />
      </sequence>
    </complexType>
  </element>
  <element name="PublishProductResponse" type="wp:WorkProductPublicationResponseType" />
  <element name="AssociateWorkProductToInterestGroupRequest">
    <complexType>
      <sequence>
        <element name="WorkProductID" type="precisb:IdentifierType" />
        <element name="IncidentID" type="precisb:IdentifierType" />
      </sequence>
    </complexType>
  </element>
  <element name="AssociateWorkProductToInterestGroupResponse">
    <complexType>
      <sequence>
        <element ref="preciss:WorkProductSummary" />
      </sequence>
    </complexType>
  </element>
  <element name="GetAssociatedWorkProductListRequest" type="string" />
  <element name="GetAssociatedWorkProductListResponse">
    <complexType>
      <sequence>
        <element ref="wp:WorkProductSummaryList" />
      </sequence>
    </complexType>
  </element>
  <element name="WorkProductSummaryList">
    <complexType>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element ref="preciss:WorkProductSummary" />
      </sequence>
    </complexType>
  </element>
  <element name="WorkProductPublicationResponse" type="wp:WorkProductPublicationResponseType" />
</schema>