UICDS-Services/UICDS-Services/Web References/IAPService/ICSFormCommon.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:c="http://niem.gov/niem/common/1.0" xmlns:u="http://niem.gov/niem/universal/1.0" xmlns:ns1="http://uicds.org/ICSFormCommon" elementFormDefault="qualified" targetNamespace="http://uicds.org/ICSFormCommon" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../../../external/niem/structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0" />
  <complexType name="ICSFormDocumentType">
    <complexContent mixed="false">
      <extension base="s:ComplexObjectType">
        <sequence>
          <element name="IncidentID" type="string" />
          <element name="ICSFormNumber" type="string" />
          <element name="DocumentFileName" type="string" />
          <element name="DocumentDescriptionText" type="string" />
          <element name="DocumentBinary" type="base64Binary" />
          <element name="DocumentSource" type="string" />
          <element name="DocumentCreationDate" type="string" />
          <element name="DocumentLastModifiedDate" type="string" />
          <element name="DocumentEffectiveDate" type="string" />
          <element name="DocumentExpirationDate" type="string" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>