webServices/TestJavaWS/Web References/SensorWS/DDMS-GeospatialCoverage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:mdr="http://metadata.dod.mil/" xmlns:ICISM="urn:us:gov:ic:ism:v2" xmlns="http://metadata.dod.mil/mdr/ns/DDMS/2.0/" xmlns:ddms="http://metadata.dod.mil/mdr/ns/DDMS/2.0/" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://metadata.dod.mil/mdr/ns/DDMS/2.0/" version="2.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../../../../UCore_GML_Profile_2.0/ucore_gml_profile.xsd" namespace="http://www.opengis.net/gml/3.2" />
  <xs:include schemaLocation="GeospatialCoverage_attributeVocabularyDefinitions.xsd" />
  <xs:annotation>
    <xs:documentation>
			Change Log:
			
				6/05/2007 (J. Pantella) -- Created pursuant to approved CR 2007-1.  See also http://metadata.dod.mil/irs/DDMS/cm/CR/2007/DDMS-CR-2007-1.
				1/3/2007 (J. Pantella) -- Modified version attribute to reflect that this is version 1.4.2.
				6/30/2008 (D. Barclay) -- Made attribute osuffix optional (for CR 2008-5).
				7/1/2008 (D. Barclay) -- Corrected "minVerticalExent" to "minVerticalExtent"
				7/15/2008 (J. Pantella) -- Modified namespace to reflect DDMS 2.0.			

		</xs:documentation>
  </xs:annotation>
  <xs:element name="geospatialCoverage" type="ddms:GeospatialCoverageType">
    <xs:annotation>
      <xs:appinfo>
        <mdr:definition xmlns:mdr="http://metadata.dod.mil/">A geographic indication of one or more places or facilities that relate to the resource. See DDMS Version 2.0 Geospatial Coverage.</mdr:definition>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GeospatialCoverageType">
    <xs:annotation>
      <xs:appinfo>
        <mdr:definition xmlns:mdr="http://metadata.dod.mil/">Type used to model the geospatialCoverage element.
				</mdr:definition>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GeospatialExtent" type="ddms:PlaceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlaceType">
    <xs:choice maxOccurs="unbounded">
      <xs:element ref="ddms:geographicIdentifier" />
      <xs:element ref="ddms:boundingBox" />
      <xs:element ref="ddms:boundingGeometry" />
      <xs:element ref="ddms:postalAddress" />
      <xs:element ref="ddms:verticalExtent" />
    </xs:choice>
  </xs:complexType>
  <xs:element name="geographicIdentifier">
    <xs:annotation>
      <xs:appinfo>
        <mdr:definition xmlns:mdr="http://metadata.dod.mil/">Models a GML compliant geographic identifier.  See ISO 19115 EX_GeographicDescription.</mdr:definition>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element minOccurs="0" name="name" type="xs:string" />
        <xs:element minOccurs="0" name="region" type="xs:string" />
        <xs:element ref="ddms:countryCode" />
        <xs:element ref="ddms:facilityIdentifier" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="countryCode" type="ddms:CompoundCountryCodeIdentifierType" />
  <xs:complexType name="CompoundCountryCodeIdentifierType">
    <xs:attribute name="qualifier" type="xs:string" />
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>
  <xs:element name="facilityIdentifier" type="ddms:FacilityIdentifierType" />
  <xs:complexType name="FacilityIdentifierType">
    <xs:attribute name="beNumber" type="xs:string" use="required">
      <xs:annotation>
        <xs:appinfo>
          <mdr:definition xmlns:mdr="http://metadata.dod.mil/">
				(GMI:BE_NUMBER, 1.0) Uniquely identifies the installation of the facility.  The BE_NUMBER is generated based on the value input for the COORD to determine the appropriate World Area Code (WAC), the system assigned record originator and a one-up-number.  Pos. 1-4, World Area Code (WAC).  Pos. 5,  A hyphen, '-', or an 'E', in the fifth position indicates that position-6 will contain values 0-9.  Alternately, the fifth position may contain the first of a two-character system assigned record originator code, position-6 will then contain the second character of the system assigned record originator code.  Pos. 6,  May contain the second character of the  system assigned record originator code, the one-up-number series will then begin in position seven, and range from  0001-9909.  If the one-up-number series begins in postion 6, this position will contain the first of a five-position one-up-number, i.e., 00001-99999.Pos. 7-10,  A one-up-number series.  Depending on the content of position 5, the series may have begun in position 6 and have a range of 00001-99999.  Or, have begun in position 7 and have a range from 0001-9999.
					</mdr:definition>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="osuffix" type="xs:string" use="optional">
      <xs:annotation>
        <xs:appinfo>
          <mdr:definition xmlns:mdr="http://metadata.dod.mil/">(GMI:OSUFFIX, 1.0) Uniquely identifies a facility or demographic area in conjunction with a BE_NUMBER.  Pos. 1-2.  SYSTEM ASSIGNED RECORD_ORIGINATOR.  The organization creating the facility or demographic area.  DIA installation records created prior to IDB generation of OSUFFIX contain DD.Pos. 3-5  A one-up number.</mdr:definition>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="boundingBox" type="ddms:BoundingBoxType">
    <xs:annotation>
      <xs:appinfo>
        <mdr:definition xmlns:mdr="http://metadata.dod.mil/">Models a GML compliant bounding box.  See ISO 19115 EX_GeographicBoundingBox.</mdr:definition>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="BoundingBoxType">
    <xs:annotation>
      <xs:appinfo>
        <mdr:definition xmlns:mdr="http://metadata.dod.mil/">Type that defines a GML compliant bounding box.  See ISO 19115 EX_GeographicBoundingBox.</mdr:definition>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="WestBL" type="xs:double" />
      <xs:element name="EastBL" type="xs:double" />
      <xs:element name="SouthBL" type="xs:double" />
      <xs:element name="NorthBL" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="boundingGeometry" type="ddms:BoundingGeometryType">
    <xs:annotation>
      <xs:appinfo>
        <mdr:definition xmlns:mdr="http://metadata.dod.mil/">Models a GML compliant bounding geometry.  See ISO 19115 EX_BoundingPolygon.</mdr:definition>
        <mdr:comment xmlns:mdr="http://metadata.dod.mil/">
Developer's Note: It is required that the srsName attribute be populated on a gml:Point or gml:Polygon element within the DDMS.  Recommended values for the attribute are:
			<!-- These Coordinate Reference System references are registered in the GSIP Governance Namespace on the DoD Metadata Registry. -->
			1) "http://metadata.dod.mil/mdr/ns/GSIP/crs/WGS84C_3D" -- representing World Geodetic System 1984 - Earth Centered, Earth Fixed (ECEF), where the X axis is mass center - equator/prime meridian, and the units are meters; the Y axis is mass center - equator/90° E, and the units are meters; and the Z axis is mass center - North Pole, and the units are meters.  
			OR
			2) "http://metadata.dod.mil/mdr/ns/GSIP/crs/WGS84E_2D" -- representing World Geodetic System 1984 - Geographic, 2-Dimensional, where latitude is north positive, measured in degrees; and latitude is east positive, measured in degrees.
			OR
			3) "http://metadata.dod.mil/mdr/ns/GSIP/crs/WGS84E_3D" -- representing World Geodetic System 1984 - Geographic, 3-Dimensional, where latitude is north positive, measured in degrees; and latitude is east positive, measured in degrees; and height is height above ellipsoid, measured in meters.
			See also: http://earth-info.nga.mil/GandG/publications/tr8350.2/tr8350_2.html.
			
			For gml:pos elements populating the gml:Polygon/gml:exterior/gml:LinearRing/gml:pos element the following guidance should be followed:
			1.	Latitude shall be in decimal degrees in the range -90° less than or equal to latitude greater than or equal to +90°.
			2.	North latitudes shall be positive, south latitudes shall be negative.
			3.	Longitude shall be in decimal degrees in the range -180° less than or equal to longitude greater than or equal to +180°; note that there are two equally acceptable values of longitude for the meridian opposite the prime meridian.
			4.	East longitudes shall be positive, west longitudes shall be negative.
			5.	Only the element gml:pos shall be used to encode a geographic point location as either:
				a.	two decimal values in the order of latitude then longitude (no commas) when WGS84E_2D, or
				b.	three decimal values in the order latitude, longitude and finally height above ellipsoid (no commas) when using the WGS84E_3D CRS. 

Developer's Note:  The srsName attribute is required on the Polygon element.  The Polygon/@srsName is the identifier for the CRS which is controlling for the child gml:pos elements.  It is important to note that the srsName attribute may also appear on the gml:pos elements, however given the current allowable CRSs above there is no need to repeat the information on the gml:pos elements thus the srsName attribute is optional and not required.  If the srsName does appear on the gml:pos elements then it must be the same as the value of the srsName attribute on the Polygon element. 
				</mdr:comment>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="BoundingGeometryType">
    <xs:annotation>
      <xs:appinfo>
        <mdr:definition xmlns:mdr="http://metadata.dod.mil/">Type that defines a GML compliant bounding geometry.  See ISO 19115 EX_BoundingPolygon.</mdr:definition>
        <mdr:comment xmlns:mdr="http://metadata.dod.mil/">
Developer's Note: It is required that the srsName attribute be populated on a gml:Point or gml:Polygon element within the DDMS.  Recommended values for the attribute are:
			<!-- These Coordinate Reference System references are registered in the GSIP Governance Namespace on the DoD Metadata Registry. -->
			1) "http://metadata.dod.mil/mdr/ns/GSIP/crs/WGS84C_3D" -- representing World Geodetic System 1984 - Earth Centered, Earth Fixed (ECEF), where the X axis is mass center - equator/prime meridian, and the units are meters; the Y axis is mass center - equator/90° E, and the units are meters; and the Z axis is mass center - North Pole, and the units are meters.  
			OR
			2) "http://metadata.dod.mil/mdr/ns/GSIP/crs/WGS84E_2D" -- representing World Geodetic System 1984 - Geographic, 2-Dimensional, where latitude is north positive, measured in degrees; and latitude is east positive, measured in degrees.
			OR
			3) "http://metadata.dod.mil/mdr/ns/GSIP/crs/WGS84E_3D" -- representing World Geodetic System 1984 - Geographic, 3-Dimensional, where latitude is north positive, measured in degrees; and latitude is east positive, measured in degrees; and height is height above ellipsoid, measured in meters.
			See also: http://earth-info.nga.mil/GandG/publications/tr8350.2/tr8350_2.html.
			
			For gml:pos elements populating the gml:Polygon/gml:exterior/gml:LinearRing/gml:pos element the following guidance should be followed:
			1.	Latitude shall be in decimal degrees in the range -90° less than or equal to latitude greater than or equal to +90°.
			2.	North latitudes shall be positive, south latitudes shall be negative.
			3.	Longitude shall be in decimal degrees in the range -180° less than or equal to longitude greater than or equal to +180°; note that there are two equally acceptable values of longitude for the meridian opposite the prime meridian.
			4.	East longitudes shall be positive, west longitudes shall be negative.
			5.	Only the element gml:pos shall be used to encode a geographic point location as either:
				a.	two decimal values in the order of latitude then longitude (no commas) when WGS84E_2D, or
				b.	three decimal values in the order latitude, longitude and finally height above ellipsoid (no commas) when using the WGS84E_3D CRS. 

Developer's Note:  The srsName attribute is required on the Polygon element.  The Polygon/@srsName is the identifier for the CRS which is controlling for the child gml:pos elements.  It is important to note that the srsName attribute may also appear on the gml:pos elements, however given the current allowable CRSs above there is no need to repeat the information on the gml:pos elements thus the srsName attribute is optional and not required.  If the srsName does appear on the gml:pos elements then it must be the same as the value of the srsName attribute on the Polygon element. 
				</mdr:comment>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice maxOccurs="unbounded">
      <xs:element ref="gml:Polygon" />
      <xs:element ref="gml:Point" />
    </xs:choice>
  </xs:complexType>
  <xs:element name="verticalExtent" type="ddms:VerticalExtentType">
    <xs:annotation>
      <xs:appinfo>
        <mdr:definition xmlns:mdr="http://metadata.dod.mil/">Models a GML compliant vertical extent.  See ISO 19115 EX_VerticalExtent.</mdr:definition>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="VerticalExtentType">
    <xs:annotation>
      <xs:appinfo>
        <mdr:definition xmlns:mdr="http://metadata.dod.mil/">Type that defines a GML compliant vertical extent.  See ISO 19115 EX_VerticalExtent.</mdr:definition>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ddms:MinVerticalExtent" />
      <xs:element ref="ddms:MaxVerticalExtent" />
    </xs:sequence>
    <xs:attribute name="unitOfMeasure" type="ddms:LengthMeasureType" use="required" />
    <xs:attribute name="datum" type="ddms:VerticalDatumType" use="required" />
  </xs:complexType>
  <xs:complexType name="VerticalDistanceType">
    <xs:simpleContent>
      <xs:extension base="xs:double">
        <xs:attribute name="unitOfMeasure" type="ddms:LengthMeasureType" use="optional" />
        <xs:attribute name="datum" type="ddms:VerticalDatumType" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="MinVerticalExtent" type="ddms:VerticalDistanceType" />
  <xs:element name="MaxVerticalExtent" type="ddms:VerticalDistanceType" />
  <xs:element name="postalAddress">
    <xs:annotation>
      <xs:appinfo>
        <mdr:definition xmlns:mdr="http://metadata.dod.mil/">Models a standalone postal address. </mdr:definition>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:group ref="ddms:PostalAddressGroup" />
    </xs:complexType>
  </xs:element>
  <xs:group name="PostalAddressGroup">
    <xs:annotation>
      <xs:appinfo>
        <mdr:definition xmlns:mdr="http://metadata.dod.mil/">Group of entities used in the ddms:postalAddress element.</mdr:definition>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="6" name="street" type="xs:string" />
      <xs:element minOccurs="0" name="city" type="xs:string" />
      <xs:choice minOccurs="0">
        <xs:element name="state" type="xs:string" />
        <xs:element name="province" type="xs:string" />
      </xs:choice>
      <xs:element minOccurs="0" name="postalCode" type="xs:string" />
      <xs:element minOccurs="0" ref="ddms:countryCode" />
    </xs:sequence>
  </xs:group>
</xs:schema>