UICDS-Services/UICDS-Services/Web References/LoggingService/LoggingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:sch="http://uicds.org/LoggingService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://uicds.org/LoggingService" targetNamespace="http://uicds.org/LoggingService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema xmlns:log="http://uicds.org/LoggingService" elementFormDefault="qualified" targetNamespace="http://uicds.org/LoggingService" xmlns="http://www.w3.org/2001/XMLSchema">
      <simpleType name="LogResponseType">
        <restriction base="string">
          <enumeration value="Success" />
          <enumeration value="Failure" />
        </restriction>
      </simpleType>
      <simpleType name="LogLevelType">
        <restriction base="string">
          <enumeration value="Fatal" />
          <enumeration value="Error" />
          <enumeration value="Warn" />
          <enumeration value="Debug" />
          <enumeration value="Info" />
          <enumeration value="Trace" />
        </restriction>
      </simpleType>
      <complexType name="LogType">
        <sequence>
          <element name="logger" type="string" />
          <element name="timestamp" type="dateTime" />
          <element name="hostname" type="string" />
          <element name="type" type="log:LogLevelType" />
          <element name="message" type="string" />
        </sequence>
      </complexType>
      <element name="LogRequest" type="log:LogType" />
      <element name="LogResponse">
        <complexType>
          <all>
            <element name="response" type="log:LogResponseType" />
          </all>
        </complexType>
      </element>
      <element name="GetLogByLoggerRequest">
        <complexType>
          <all>
            <element name="logger" type="string" />
          </all>
        </complexType>
      </element>
      <element name="GetLogByLoggerResponse">
        <complexType>
          <sequence>
            <element name="logger" type="string" />
            <element name="numberOfRecords" type="int" />
            <element minOccurs="0" maxOccurs="unbounded" name="logRecord" type="log:LogType" />
          </sequence>
        </complexType>
      </element>
      <element name="GetLogByHostnameRequest">
        <complexType>
          <all>
            <element name="hostname" type="string" />
          </all>
        </complexType>
      </element>
      <element name="GetLogByHostnameResponse">
        <complexType>
          <sequence>
            <element name="hostname" type="string" />
            <element name="numberOfRecords" type="int" />
            <element minOccurs="0" maxOccurs="unbounded" name="logRecord" type="log:LogType" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="GetLogByHostnameRequest">
    <wsdl:part name="GetLogByHostnameRequest" element="tns:GetLogByHostnameRequest" />
  </wsdl:message>
  <wsdl:message name="LogResponse">
    <wsdl:part name="LogResponse" element="tns:LogResponse" />
  </wsdl:message>
  <wsdl:message name="GetLogByLoggerRequest">
    <wsdl:part name="GetLogByLoggerRequest" element="tns:GetLogByLoggerRequest" />
  </wsdl:message>
  <wsdl:message name="GetLogByLoggerResponse">
    <wsdl:part name="GetLogByLoggerResponse" element="tns:GetLogByLoggerResponse" />
  </wsdl:message>
  <wsdl:message name="LogRequest">
    <wsdl:part name="LogRequest" element="tns:LogRequest" />
  </wsdl:message>
  <wsdl:message name="GetLogByHostnameResponse">
    <wsdl:part name="GetLogByHostnameResponse" element="tns:GetLogByHostnameResponse" />
  </wsdl:message>
  <wsdl:portType name="LoggingService">
    <wsdl:operation name="Log">
      <wsdl:input name="LogRequest" message="tns:LogRequest" />
      <wsdl:output name="LogResponse" message="tns:LogResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetLogByHostname">
      <wsdl:input name="GetLogByHostnameRequest" message="tns:GetLogByHostnameRequest" />
      <wsdl:output name="GetLogByHostnameResponse" message="tns:GetLogByHostnameResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetLogByLogger">
      <wsdl:input name="GetLogByLoggerRequest" message="tns:GetLogByLoggerRequest" />
      <wsdl:output name="GetLogByLoggerResponse" message="tns:GetLogByLoggerResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoggingServiceSoap11" type="tns:LoggingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Log">
      <soap:operation soapAction="" />
      <wsdl:input name="LogRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="LogResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogByHostname">
      <soap:operation soapAction="" />
      <wsdl:input name="GetLogByHostnameRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetLogByHostnameResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogByLogger">
      <soap:operation soapAction="" />
      <wsdl:input name="GetLogByLoggerRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetLogByLoggerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoggingServiceService">
    <wsdl:port name="LoggingServiceSoap11" binding="tns:LoggingServiceSoap11">
      <soap:address location="http://localhost:80/uicds/core/ws/services/LoggingService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>