UICDS-Services/UICDS-Services/Web References/DirectoryService/SOSConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:sc="http://uicds.org/SOSConfig" elementFormDefault="qualified" targetNamespace="http://uicds.org/SOSConfig" xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="SOSConfigType">
    <sequence>
      <element name="URN" type="string">
        <annotation>
          <documentation>Sensor Observation Service Endpoint</documentation>
        </annotation>
      </element>
      <element name="serviceID" type="string" />
    </sequence>
  </complexType>
  <element name="SOSConfig" type="sc:SOSConfigType" />
  <complexType name="SOSConfigListType">
    <sequence>
      <element maxOccurs="unbounded" name="sos" type="sc:SOSConfigType" />
    </sequence>
  </complexType>
  <element name="SOSConfigList" type="sc:SOSConfigListType" />
</schema>